

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #e9c5de;
}
#control {
    width: 95%;
    margin: 0%;
    border: 0cap solid rgb(8, 8, 8);
    }
header {
background-color: rgb(207, 134, 183);
/*width: 100px;*/
/*height: 100px;*/
text-align: center;
line-height: 20px;
}   




button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #78b428;
    color: rgb(6, 2, 24);
    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
  }
